@model ZooNick.Models.Enclosure

@{
    ViewData["Title"] = "Create Enclosure";
}

<h1>Create Enclosure</h1>

<form method="post" asp-action="Create">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" required />
    </div>
    <div>
        <label>Description:</label>
        <input type="text" name="Description" required />
    </div>
    <div>
        <label>Capacity:</label>
        <input type="number" name="Capacity" required />
    </div>
    <button type="submit">Create Enclosure</button>
</form>

<a href="/Enclosure">Back to Enclosure List</a>
